section{
    margin: 10vh 0;
}

.navbar-brand{
    font-weight: 700 !important;
}

.section-heading{
    font-size: 1.2rem;
    letter-spacing: 5px;
    text-transform: uppercase;
    padding-left: 20px;
}


.owl-carousel .item img{
    height: 40vh;
}


.banner .banner-head{
    background-color: aliceblue !important;
    color: #111 !important;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.banner .banner-head h1 {
    color: #acacac !important;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 6rem;
}

.feature-items {
    margin-top: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
    flex-direction: column;
}

.feature-items .card {
    width: 45rem;
    font-size: 1.2rem;

}

.feature-items img {
    width: 35vw;
    height: 65vh;
    border-radius: 20px;
}

.cart {
    margin-top: 0;
}
.cart .cart-header{
    background: url(/static/img/arrival-bg.jpg) fixed center no-repeat;
    background-size: cover;
    height: 55vh;
    padding-top: 15vh;
    margin-bottom: 5vh;
}


.cart .cart-img {
    width: 80px;
    height: 90px;
    object-fit: cover;
}


.card img{
    width: 100% !important;
    height: 40vh !important;
}

.card {
    position: relative;
}
.card .card-btns{
    position: absolute;
    top: 32vh;
    left: 1vh;
    opacity: 0;
    transform: translateX(20vh);
    transition: all .5s ease-in;
}

.card:hover .card-btns {
    opacity: 1;
    transform: translateX(0);
}
@media (max-width: 576px) {
    .cart .cart-header{
        background-size: 150vw 90vh;
    }
}